__pycache__/
*.py[cod]
.env
.env.*
!.env.example
conn_str*
!conn_str.example
*.ckpt
*.pt
*.pth
*.pkl
*.pickle
*.log
results/
logs/
lightning_logs/
lightning_models/
processed/
labeled_data/
datasets/
internal/
optimizer_plans/
sample_data*/
workloads/
input/
.git/
.ipynb_checkpoints/

generated_plans/
